@charset "utf-8";

:root {
  --background-dark: rgb(24, 23, 22);
  --grey: rgb(255 255 255 / 0.05);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  /*Main font, 2 fallback fonts, and the font style */
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

main {
  height: calc(100vh);
}

/* UTILITY CLASSES */
.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

/* MAIN */
body, input {
  background-color: var(--background-dark);
}

p, span, input {
  color: #fff;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  padding: 20px;
  background-color: rgb(255 255 255 / 0.1)
}

input::placeholder {
  color: rgb(255 255 255 / 0.8);
}

p {
  font-weight: 700;
}

form, input {
  border-radius: 5px;
}

.user-input, .text-output, .convert-button {
  font-weight: 500;
}

.user-input, .text-output {
  height: 45px;
  width: 180px;
  padding: 0 10px;
}

.convert-button {
  padding: 10px 25px;
  background-color: #089647; 
}





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0;
  background-color: #f32196; /* Unchecked bg color */
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
